{% extends 'App/base.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block main %}
    <div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #000;"> <!-- Fondo negro en toda la página -->
        {# Contenedor principal con fondo blanco y sombra #}
        <div class="p-4 rounded shadow" style="background-color: #fff; max-width: 400px; width: 100%;">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>

            {# Mensaje de error si la autenticación falla #}
            {% if msg_login %}
                <p class="fs-5 fw-bold text-danger text-center">{{ msg_login }}</p>
                <p class="text-center">¿Te has equivocado? Ingresa los datos nuevamente.</p>
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario:</label>
                    <input type="text" name="username" class="form-control" id="{{ form.username.id_for_label }}">
                </div>
                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña:</label>
                    <input type="password" name="password" class="form-control" id="{{ form.password.id_for_label }}" >
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary w-100" value="Iniciar sesión">
                </div>
            </form>

            {# Si no estás registrado, muestra el botón de registro #}
            <div class="text-center mt-3">
                <p>No estás registrado?</p>
                <a href="{% url 'Register' %}" class="btn btn-secondary w-100">Registrarse</a>
            </div>
        </div>
    </div>
{% endblock main %}




