{% extends "App/base.html" %}

{% load static %}

{% block main %}
<div id="about-us" class="container-fluid fh5co-about-us pl-0 pr-0 parallax-window" data-parallax="scroll" data-image-src="images/about-us-bg.jpg">
  <div class="container">
    <div class="col-sm-6 offset-sm-6">
      <h2 class="wow bounceInLeft" data-wow-delay=".25s">ACERCA DE MI</h2>
      <hr/>
      <p class="wow bounceInRight" data-wow-delay=".25s">Hola! Mi nombre es Gabriela Gonzalez, soy contadora con experiencia en administracion de empresas. A lo largo de mi carrera, he adquirido experiencia en analisis financiero, planificacion estrategica y liderazgo administrativo. Sin embargo en los ultimos años descubri el mundo de los datos, y decidi dar un giro a mi carrera
        Actualmente estoy realizando la Diplomatura de Data Science, y explorando herramientas como Python y Django.
        Esta pagina esta pensada para los empleados del gimnasio para que les permita de manera eficiente gestionar socios, actividades y sucursales
         </p>
    
  </div>
</div>
{% endblock main %}